.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 3px;
    left: 9px;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  left: 0px;
}

#wpbody-content {padding: 30px 20px;}
form label {padding: 40px 0px 15px 0px;font-size: 20px;text-transform: capitalize;}
.switch {position: relative;display: inline-block;width: 58px;height: 5px;padding: 15px;}
input.btn {padding: 8px 40px;}
.form-group input {width: 100%; padding: 9px;} 

.api_from_main {
    border: 1px solid #1d2327;
    padding: 25px;
}
.wrap>h2:first-child {
    padding: 20px 0 20px;
}
label.promo_info {
    padding: 25px 20px;
}
.promocodecheck_main {
    display:flex;
    align-items: center;
    
}

